@media(min-width: 48rem) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12.8rem 7.6rem;
    }

    main {
        max-width: 61.6rem;
        padding: 4rem;
        border-radius: 2.4rem;
    }

    .main-section {

        padding: 4rem 0 0 0;
    }

    .recipe-container {
        min-width: 53.6rem;
        min-height: 13.6rem;
    }

    .recipe-title {
        font-size: 4rem;
    }

    .preparation-container {
        min-width: 53.6rem;
        min-height: 17.2rem;
    }


}