:root {

    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    -stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);


}

body {
    background-color: var(--stone-100);

    display: flex;
    flex-direction: column;

    align-items: center;


    min-height: 100dvh;
    
}





main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 5rem;

    background-color: var(--white);
    max-width: 37.5rem;

}


.main-picture {
    display: flex;
    justify-content: center;
}

.main-picture img {
    width: 100%;
}










.instructions-container{

}