:root {

    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);


}

body {
    background-color: var(--stone-100);

    display: flex;
    flex-direction: column;

    align-items: center;


    min-height: 100dvh;

}





main {
    display: flex;
    flex-direction: column;
    justify-content: center;


    background-color: var(--white);
    max-width: 37.5rem;

}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 4rem 3.2rem;
}


.main-picture {
    display: flex;
    justify-content: center;
}

.main-picture img {
    width: 100%;
}


.recipe-title {
    font-family: 'Young Serif', sans-serif;
    font-size: clamp(3.6rem, 5vw, 4rem);
    font-weight: 400;
    color: var(--stone-900);
    text-shadow: 0rem 0.4rem 0.4rem #0000001f;
    text-align: left;
    line-height: 100%;
}


.recipe-container {
    display: flex;
    flex-direction: column;

    min-width: 31.1rem;
    min-height: 21.6rem;

    gap: 2.4rem;
}

.preparation-container {
    display: flex;
    flex-direction: column;

    background-color: var(--rose-50);
    min-width: 31.1rem;
    min-height: 19.6rem;

    padding: 2.4rem;

    border-radius: 1.2rem;

    gap: 1.6rem;
}

.preparation-ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    padding-left: 2.5rem;
}

.destaque {
    font-weight: 800;
}

.preparation-ul li {
    padding-left: 1.7rem;
}

.preparation-ul li::marker {
    color: var(--rose-800);
}


.ingredients-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}



.ingredients-container ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.ingredients-container ul {
    padding-left: 2.4rem;
}

.ingredients-container li {
    padding-left: 1.7rem;
}

.ingredients-container li::marker {
    color: var(--brown-800);
}



.text-preset-4 {
    font-family: Outfit, sans-serif;
    font-size: 1.6rem;
    color: var(--Stone-600);
    text-align: left;
    line-height: 150%;
}


.text-preset-2 {
    font-family: 'Young Serif', sans-serif;
    font-size: 2.8rem;
    font-weight: 300;
    color: var(--brown-800);
    text-align: left;
}

.text-preset-3 {
    font-family: Outfit, sans-serif;
    font-size: 2rem;
    text-align: left;
    line-height: 100%;
    color: var(--rose-800);
    font-weight: 600;
}




.instructions-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    border-top: solid 0.1rem rgba(0, 0, 0, 0.164);
    padding-top: 3.2rem;
}

.instructions-ol {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    padding-left: 2.2rem;
}

.instructions-container li {
    padding-left: 1.7rem;
}

.instructions-container li::marker {
    color: var(--brown-800);
    font-weight: 800;
}


.nutrition-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    border-top: solid 0.1rem rgba(0, 0, 0, 0.164);
    padding-top: 3.2rem;
}

.nutrition-table{
    border-collapse: collapse;
    width: 100%;
}

.nutrition-table th {
    font-weight: 400;
}

.nutrition-table th, .nutrition-table td{
    padding: 1.7rem 3.4rem;
}

.nutrition-table tr:not(:first-child){
    border-top: solid 0.1rem rgba(0, 0, 0, 0.164);
}


.nutrition-table td {
    font-weight: 800;
    color: var(--brown-800);
}

